body {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    color: red;
    font-weight: 900;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

q {
    color: darkgreen;
    font-size: 20px;
}

a {
    text-decoration: none;
}